
<br/>
<ul class="mavica">
  {% assign imagesStr = "fan1.png fan2.png fan3.png fan4.png fan5.png fan6.png fan7.png fan8.jpg fan9.jpg fan10.jpg fan11.jpg fan12.jpg fan13.png fan14.jpg fan15.png fan16.png fan17.jpg fan17.png fan18.jpg fan19.jpg fan20.png fan21.png fan22.png" %}
  {% assign imageList = imagesStr | split: ' ' %}
  {% for image in imageList %}
    <li class="mavica-photo">
      {% capture imageUrl %}/assets/fans/{{image}}{% endcapture %}
      {% include image.html class="inline" url=imageUrl
        description=image %}
    </li>
  {% endfor %}
</ul>
<br/>
<br/>

