<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">New Cities</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">New Cities</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="p-name"><a href="/">lonepine.io</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Build Prosperity.</p>
      </div>
    </div>

  </div>

</footer>
