
<ul class="mavica">
  {% assign imagesStr = "IMG_3249.JPG MVC-004F.JPG MVC-013F.JPG MVC-020F.JPG MVC-103F.JPG MVC-001F.JPG MVC-006F.JPG MVC-015F.JPG MVC-022F.JPG MVC-106F.JPG MVC-001Fa.JPG MVC-008F.JPG MVC-016F.JPG MVC-023F.JPG MVC-118F.JPG MVC-002F.JPG MVC-010F.JPG MVC-017F.JPG MVC-024F.JPG MVC-206F.JPG MVC-003F.JPG MVC-011F.JPG MVC-018F.JPG MVC-102F.JPG MVC-218F.JPG" %}
  {% assign imageList = imagesStr | split: ' ' %}
  {% for image in imageList %}
    <li class="mavica-photo">
      {% capture imageUrl %}/assets/mavica/{{image}}{% endcapture %}
      {% include image.html class="inline" url=imageUrl
        description=image %}
    </li>
  {% endfor %}
</ul>

