<div class="sidebar">
  <div class="sidebar-panel indiegogo-sidebar">
    Get the Game!
    <hr/>

    <ul class="social-media-list">
      <li>
        <a href="https://store.steampowered.com/app/1067860/New_Cities/">
          <img src="/assets/images/steam.png"/>
          Steam Store
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-panel social-media-sidebar">
    Follow us!
    <hr/>

    <ul class="social-media-list">

      <li>
        <a href="https://reddit.com/r/NewCity">
          <img src="/assets/images/reddit.png"/>
          /r/NewCity
        </a>
      </li>

      <li>
        <a href="https://discord.gg/cz6t4J5">
          <img src="/assets/images/discord.svg"/>
          Discord Chat
        </a>
      </li>

      <li>
        <a href="https://twitter.com/lone_pine_games">
          <img src="/assets/images/twitter.png"/>
          @lone_pine_games
        </a>
      </li>

      <li>
        <a href="https://www.youtube.com/channel/UCRc9Dfz_cZsyymCLIIdaJsg">
          <img src="/assets/images/youtube.png"/>
          YouTube
        </a>
      </li>

      <li>
        <a href="https://www.twitch.tv/lonepinegames">
          <img src="/assets/images/twitch.png"/>
          Twitch
        </a>
      </li>

      <li>
        <a href="https://www.facebook.com/BuildProsperity">
          <img src="/assets/images/facebook.png"/>
          /BuildProsperity
        </a>
      </li>

      <li>
        <a href="#" onclick="return false;">
          <img src="/assets/images/mail.png"/>
          info@lonepine.io
        </a>
      </li>

    </ul>
  </div>
</div>
