---
---

@import "minima";

body {
  background: rgb(38,61,47);
  background: linear-gradient(300deg, rgba(38,61,47,1) 0%, rgba(47,77,59,1) 100%);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

a, a:visited {
  color: #ffffff;
}

.site-nav .page-link {
  color: #fff;
}

.site-title, .site-title:visited {
  color: #fff;
}


