---
---

@import "minima";

body {
  background: rgb(31,48,37);
  background: linear-gradient(309deg,
    rgba(31,48,37,1) 0%, rgba(24,38,30,1) 100%);
  //background: rgb(38,61,47);
  //background: linear-gradient(300deg,
    //rgba(38,61,47,1) 0%, rgba(47,77,59,1) 100%);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  text-shadow: 0.2em 0.2em 0.4em black;
  //font-family: 'Play', sans-serif;
}

.wrapper {
  margin-left: 0vw;
  margin-right: 25vw;
  max-width: unset;
}

@keyframes fade {
  0%   { opacity: 0; }
  2%  { opacity: 1; }
  5%  { opacity: 1; }
  7%  { opacity: 0; }
  100% { opacity: 0; }
}

.hero {
  position: relative;
  box-shadow: rgba(0,0,0,1) 1vw 1vw 2vw;
  width: 100%;
  height: 0;
  padding-top: 56.25%; // Why this ratio and not 62.5%? No idea.
  position: relative;

  background-image: url("/assets/images/titleshots/title22.png");
  background-size: cover;

  img.slideshow {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: fade;
    animation-duration: 120s;
    animation-iteration-count: infinite;
  }

  .slideshow:nth-child(1) { animation-delay: 0s; }
  .slideshow:nth-child(2) { animation-delay: 6s; }
  .slideshow:nth-child(3) { animation-delay: 12s; }
  .slideshow:nth-child(4) { animation-delay: 18s; }
  .slideshow:nth-child(5) { animation-delay: 24s; }
  .slideshow:nth-child(6) { animation-delay: 30s; }
  .slideshow:nth-child(7) { animation-delay: 36s; }
  .slideshow:nth-child(8) { animation-delay: 42s; }
  .slideshow:nth-child(9) { animation-delay: 48s; }
  .slideshow:nth-child(10){ animation-delay: 54s; }
  .slideshow:nth-child(11){ animation-delay: 60s; }
  .slideshow:nth-child(12){ animation-delay: 66s; }
  .slideshow:nth-child(13){ animation-delay: 72s; }
  .slideshow:nth-child(14){ animation-delay: 78s; }
  .slideshow:nth-child(15){ animation-delay: 84s; }
  .slideshow:nth-child(16){ animation-delay: 90s; }
  .slideshow:nth-child(17){ animation-delay: 96s; }
  .slideshow:nth-child(18){ animation-delay: 102s; }
  .slideshow:nth-child(19){ animation-delay: 108s; }
  .slideshow:nth-child(20){ animation-delay: 114s; }

  .title {
    position: absolute;
    top: 1vw;
    left: 0;
    max-width: 80%;
    padding-top: 0%;
    margin-top: 0%;
    padding-left: 1%;
    margin-left: 4%;
    text-align: right;
    //background: linear-gradient(225deg, rgba(0,0,0,0.5) 0%,
      //rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    z-index: 2;
  }

  hr {
    display: block;
    border: 0;
    border-color: white !important;
    border-top: 1vw solid white;
    z-index: 3;
    box-shadow: black 0.0em 0.0em 1.0em;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    //color: #609c78;
    font-size: 400%;
    font-size: 12vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-align: center;
    text-shadow: 0.0em 0.00em 0.1em black,
      0.1em 0.05em 0.15em black;
    margin: 0;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    //color: #609c78;
    font-size: 100%;
    font-size: 2vw;
    font-weight: 900;
    max-width: 100%;
    text-align: center;
    //letter-spacing: 0.1em;
    text-shadow: 0.0em 0em 0.5em black,
      0.0em -0.2em 0.2em black,
      0.0em  0em   0.2em black;
      //0.15em 0.15em 0.2em black,
      //0.15em 0.15em 0.4em black;
  }
}

.hero::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .hero::after {
    background: linear-gradient(170deg,
      rgba(0,0,0,0.5) 0%,
      rgba(0,0,0,0.5) 20%,
      rgba(0,0,0,0  ) 40%,
      rgba(0,0,0,0  ) 100%);
  }
}

@media screen and (max-width: 800px) {
  .hero .title {
    left: 10%;
    width: 80%;
    margin: 0;
  }
}

.site-title {
  font-family: 'Play', sans-serif;
  font-size: 4vw;
  font-weight: bolder;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.site-header, .site-footer {
  border: none;
  background: rgb(38,61,47);
  background: linear-gradient(309deg, rgba(38,61,47,1) 0%, rgba(47,77,59,1) 100%);
  box-shadow: rgba(0,0,0,1) 1vw 1vw 2vw;
  padding: 1vw;
  text-align: center;
  min-height: unset;

  .wrapper {
    margin-left: 15.5vw;
  }

  img {
    vertical-align: middle;
    padding-bottom: 1vw;
  }
}

.page-content {
  //background: rgb(31,48,37);
  //background: linear-gradient(309deg,
    //rgba(31,48,37,1) 0%, rgba(24,38,30,1) 100%);
}

a, a:visited {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #68a882;
  text-decoration: none;
}

.site-icon {
  display: inline-block;
  width: 1.3em;
  margin-right: 2vw;
}

.post-header {
  text-align: center;
  max-width: 60vw;
  margin-right: auto;
  margin-left: auto;

  h1 {
    font-size: 4vw;
  }

  p {
    font-size: 2vw;
  }
}

.post-content p, .post-content ol, .post-content ul {
  font-size: 1.5vw;
  text-align: justify;
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  list-style: square;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.post-content li {
  margin: 1em 2em 1em 2em;
}

.post-link {
  text-decoration: none;
}

.post-list-heading {
  text-align: center;
  font-size: 200%;
}

.post-list li {
  padding: 1vw;
  margin-bottom: 4em;
  position: relative;

  figure {
    margin: 0;
    position: relative;
  }

  figure::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
  }

  .post-headline {
    position: absolute;
    text-align: left;
    text-shadow: 0.2em 0.2em 0.3em black,
      0 0 0.5em black;
    top: 4vw;
    left: 3vw;
    width: 40vw;

    .post-meta {
      text-shadow: 0.1em 0.1em 0.2em black;
    }

    hr {
      display: block;
      border: 0;
      border-color: white !important;
      border-top: 0.25vw solid white;
      box-shadow: black 0.15em 0.15em 0.2em 0em;
    }

    h3 {
      font-weight: 900;
      font-size: 3vw;
      line-height: 1.2;
    }

    h4 {
      margin-top: 1vw;
      font-weight: 900;
      font-size: 2vw;
    }
  }
}

.post-list li:hover {
  background: linear-gradient(309deg, rgba(38,61,47,1) 0%, rgba(47,77,59,1) 100%);
  box-shadow: rgba(0,0,0,1) 1vw 1vw 2vw;
  * {
    color: white;
  }

  figure {
    box-shadow: none;
  }

  figure::after {
    background-color: rgba(0,0,0,0.5);
  }

}

h1 {
  font-family: 'Play', sans-serif;
}

.site-nav .page-link, .site-title, .site-title:visited {
  color: #fff;
  text-decoration: none;
}

.site-nav .page-link:hover, .site-title:hover, {
  color: #68a882;
  text-decoration: underline;
}

.footer-col-1 {
  width: 20%;
  color: #fff;
  font-weight: bold;
  width: inherit;
}

.footer-col-2 {
  //padding-left: 15px;
  width: inherit;
}

.footer-col-3 {
  width: inherit;
  //width: 35%;
}

figure {
  position: relative;
  box-shadow: rgba(0,0,0,1) 1vw 1vw 2vw;
  width: max-content;
  max-width: 100%;
  min-width: 20vw;
  margin: 2vw auto;

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

figure figcaption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  max-width: 80%;
  padding: 0.5vw;
  margin: 1vw 1vw;
  font-size: 1.5vw;
  line-height: 1.2;
}

figure.caption-top figcaption {
  top: 2vw;
  left: 2vw;
  bottom: initial;
  right: initial;
}

figure.caption-below figcaption {
  position: initial;
  margin: 0px;
  text-align: right;
  max-width: none;
}

figure.inline {
  display: inline-block;
  max-width: unset;
  min-width: unset;
  width: 15vw;
  margin: 0;

  figcaption {
    position: initial;
    margin: 0px;
    font-size: 1vw;
    text-align: right;
    max-width: none;
  }
}

video {
  display: block;
  max-width: 100%;
}

figure.youtube {
  overflow:hidden;
  padding-bottom:56.25%;
  margin-bottom: 2vw;
  position:relative;
  height:0;
  min-width: unset;
  max-width: unset;
  width: unset;

  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.sidebar {
  float: left;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.sidebar-panel {
  margin: 1vw 1vw;
  width: 20vw;
  padding: 1vw;
  z-index: 2;

  font-size: 1.2vw;
  font-weight: bolder;
  letter-spacing: 0.1em;

  box-shadow: rgba(0,0,0,1) 1vw 1vw 2vw;
  background: rgb(38,61,47);
  background: linear-gradient(280deg,
    rgba(38,61,47,1) 0%, rgba(47,77,59,1) 100%);

  text-align: center;

  hr {
    display: block;
    border: 0;
    border-color: white !important;
    border-top: 0.25vw solid white;
    margin: 0.5vw 0;
    background-color: white;
    z-index: 3;
    box-shadow: black 0.0em 0.0em 1.0em;
  }

  ul {
    margin: 0px;
  }

  li {
    display: block;
  }

  li {
    text-align: left;
  }

  &.indiegogo-sidebar a {
    //padding-right: 1em;
  }

  a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    &:hover {
      background: rgb(31,48,37);
      background: linear-gradient(309deg,
        rgba(31,48,37,1) 0%, rgba(24,38,30,1) 100%);
    }
  }

  img {
    vertical-align: middle;
    width: 2em;
    padding: 5px;
  }
}

ul.mavica {
  list-style: none;
  display: block;
  margin: -0.5vw;
  max-width: unset;
  text-align: left;
  li {
    margin: 0.5vw;
    display: inline-block;
  }
}


.post-content hr {
  margin: 40px;
}

.pacific-banner {
  width: 22vw;
  padding: 0;

  a {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }

  img {
    flex: 0 1 auto;
    align-self: auto;
    padding: 0;
    width: auto;
  }
}

@media screen and (min-width: 1600px) {
  .post-content p, .post-content ol, .post-content ul {
    font-size: 1.2vw;
  }

  .post-list {
    max-width: 60vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    float: unset;
    position: unset;
  }

  .sidebar-panel {
    margin: 1vw 1vw;
    width: unset;
    padding: 1vw;
    font-size: 3vw;

    &.pacific-banner {
      padding: 0;
    }

    &.indiegogo-sidebar li {
      text-align: center;
      a::after {
        content: " ";
        padding-right: 3em;
      }
    }
    &.social-media-sidebar ul {
      column-count: 2;
    }

  }

  .wrapper {
    margin: 0;
    padding: 2vw;
  }

  figure {
    position: unset;
  }

  .page-content {
    padding: 0;
  }

  figure figcaption {
    position: unset;
    max-width: unset;
    margin: 0;
    padding: 1vw;
    font-size: 3.5vw;
  }

  .post-header {
    max-width: unset;

    h1 {
      font-size: 8vw;
    }

    p {
      font-size: 4vw;
    }
  }

  .post-content p, .post-content ol, .post-content ul {
    font-size: 3.5vw;
    text-align: justify;
    max-width: unset;
    margin-right: auto;
    margin-left: auto;
  }

  .site-header, .site-footer {
    border: none;
    padding: 1vw;
    text-align: center;

    .wrapper {
      width: 65vw;
      margin: 0 auto;
    }
  }

  .site-title {
    font-family: 'Play', sans-serif;
    font-size: 8vw;
    font-weight: bolder;
  }

  figure.inline {
    width: 20vw;

    figcaption {
      display: none;
    }
  }
}

