<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="hero">
      <!--
      <img class="slideshow" src="/assets/images/titleshots/title01.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title03.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title04.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title05.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title06.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title07.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title08.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title09.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title10.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title11.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title12.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title13.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title14.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title15.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title16.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title17.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title18.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title19.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title20.png"/>
      <img class="slideshow" src="/assets/images/titleshots/title21.png"/>
      -->

      <div class="title">
        <h1>
          <img src="/assets/images/logos/logo_w_text.png"
               alt="NewCity"/>
        </h1>
        <h2>
          The Regional Citybuilder
        </h2>
      </div>
    </div>

    {% include sidebar.html %}

    <main class="page-content" aria-label="Content">

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
